{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shopify</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="{% static 'CSS/estilo.css' %}" rel="stylesheet" type="text/css">
</head>

<nav class="navbar justify-content-end navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="logo">
                <img src="/static/img/logo.png" style="width: 200px; height: 40px; margin-top: .5em"> </a>
        </div>
    </div>
</nav>

<Div>

<div class="row">
        <div class="container">
    </div>
</div>

<div class="container">
    <div class="row" >
        <div class="col-md-8">
            <h1>PRODUCTO CREADO CORRECTAMENTE</h1>
            <BR>
            <button type="submit" class="btn btn-success" onclick="window.location.href='//127.0.0.1:8000/productos'" >INGRESAR NUEVO PRODUCTO</button>
            <button type="button" class="btn btn-danger" onclick="window.location.href='//127.0.0.1:8000/'" >VOLVER AL MENU</button>
        </div>
    </div>
</div>


</body>
<br>
<br>
<br>
<br>
<footer >
    <div class="container">
        <strong><p style="color:green;">Desarrollado por: David Regular - Jorge Abarza - Felipe Gallardo</p><strong>
        <p style="color:green:">Examen Transversal Diciembre 2018</p>
    </div>

</footer>
</html>